<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.polyvi.xface.extension.ams"
      version="1.0.0">

    <name>AMS</name>
    <author>PolyVi Inc.</author>
    <description>xFace AMS Extension</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,AMS</keywords>

    <js-module src="www/ams.js" name="AMS">
        <clobbers target="xFace.AMS" />
    </js-module>

    <js-module src="www/AmsError.js" name="AmsError">
        <clobbers target="AmsError" />
    </js-module>

    <js-module src="www/AmsOperationType.js" name="AmsOperationType">
        <clobbers target="AmsOperationType" />
    </js-module>

    <js-module src="www/AmsState.js" name="AmsState">
        <clobbers target="AmsState" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <js-module src="www/wp8/privateModule.js" name="privateModule">
            <clobbers target="xFace.AMS.privateModule" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="AMS">
                <param name="wp-package" value="AMS"/>
            </feature>
        </config-file>

        <source-file src="src/wp/XAms.cs" />
        <source-file src="src/wp/XAmsExt.cs" />
        <source-file src="src/wp/XAmsImpl.cs" />
    </platform>

    <!-- android -->
    <platform name="android">
        <js-module src="www/android/privateModule.js" name="privateModule">
            <clobbers target="xFace.AMS.privateModule" />
        </js-module>
    </platform>

    <!-- ios -->

    <platform name="ios">
        <js-module src="www/ios/privateModule.js" name="privateModule">
            <clobbers target="xFace.AMS.privateModule" />
        </js-module>
        <config-file parent="/*" target="config.xml">
            <feature name="AMS">
                <param name="ios-package" value="XAmsExt" />
            </feature>
        </config-file>
        <header-file src="src/ios/XAms.h" />
        <header-file src="src/ios/XAmsExt.h" />
        <source-file src="src/ios/XAmsExt.m" />
        <header-file src="src/ios/XAmsImpl.h" />
        <source-file src="src/ios/XAmsImpl.m" />
    </platform>

</plugin>
